[Unit]
Description=RSSMX100A container instance %I
Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=2
EnvironmentFile=/etc/sysconfig/docker-rssmx100a-epics-ioc
EnvironmentFile=/etc/sysconfig/docker-rssmx100a-epics-ioc-mapping
Environment=IMAGE_VERSION=debian-9
# Used inside runDockerRSSMX100A script
Environment=RSSMX100A_INSTANCE=%i
ExecStartPre=-/usr/bin/docker pull lnlsdig/rssmx100a-epics-ioc:${IMAGE_VERSION}
ExecStart=/usr/local/bin/runDockerRSSMX100A.sh
ExecStop=/usr/local/bin/stopDockerRSSMX100A.sh

[Install]
WantedBy=multi-user.target
